*.img
history/
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
obj_functions/machine_learning/dataset/svhn/
obj_functions/machine_learning/dataset/cifar/